{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% with comments.count as total_comments %}

<p>
    <h3> دیدگاه های شما برای ما </h3>
</p>
<h2>
{{ total_comments }} دیدگاه
</h2>
{% endwith %}


{% for comment in comments %}
<div class="comment">
<p class="info">
دیدگاه {{ forloop.counter }} توسط {{ comment.name }}

</p>
{{ comment.body|linebreaks }}
</div>
{% empty %}
<p>دیدگاهی وجود ندارد </p>
{% endfor %}


{% if new_comment %}
<h2>دیدگاه شما پس از تائید نمایش داده می شود.</h2>
{% else %}
<h2>اضافه کردن دیدگاه جدید</h2>
<form method="post">

{% csrf_token %}
    {{ comment_form|crispy }}
<p><input type="submit" value="Add comment"></p>
</form>
{% endif %}
{% endblock %}